
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

:root {
    font-size: 17px;
    font-weight: bold;
}

.nav_hover {
    color: #0000;
    background: 
      radial-gradient(circle, rgba(212,2,249,1) 28%, rgba(250,251,61,1) 53%, rgba(0,212,255,1) 100%)
      var(--c,0%)/200% no-repeat;
    -webkit-background-clip: text;
            background-clip: text;
    transition: .8s;
  }
  .nav_hover:hover {
    --c:100%;
  }


body{color:  #565454;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    background-color: #e3c0f6;
    background-image: 
    radial-gradient(closest-side, rgb(235, 105, 78, 1), rgba(235, 105, 78, 0)),
    radial-gradient(closest-side, rgb(243, 11, 164, 1), rgba(243, 11, 164, 0)),
    radial-gradient(closest-side, rgb(254, 234, 131, 1), rgba(254, 234, 131, 0)),
    radial-gradient(closest-side, rgb(170, 142, 245, 1), rgba(254, 234, 131, 0)),
    radial-gradient(closest-side, rgb(248, 192, 147, 1), rgba(248, 192, 147, 0));
    
 
    background-repeat: no-repeat;
    animation: 5s movement linear infinite;
    font-family: 'Pangolin', cursive;}



@keyframes movement { 0%, 100% {
    background-size:
    130vmax 130vmax,
    80vmax 80vmax,
    90vmax 90vmax,
    110vmax, 110vmax,
    90vmax 90vmax;
    background-position:
    -80vmax -80vmax,
    60vmax -30vmax,
    10vmax 10vmax,
    -30vmax -10vmax,
    50vmax 50vmax;
}
25% {
    background-size:
    100vmax 100vmax,
    90vmax 90vmax,
    100vmax 100vmax,
    90vmax 90vmax,
    60vmax 60vmax;
    background-position:
    -60vmax -90vmax,
    50vmax -40vmax,
    0vmax -20vmax,
    -40vmax -20vmax,
    40vmax 60vmax; 
}
50% {
    background-size:
    80vmax 80vmax,
    110vmax 110vmax,
    80vmax 80vmax,
    60vmax, 60vmax,
    80vmax 80vmax;
    background-position:
    -50vmax -70vmax,
    40vmax -30vmax,
    10vmax 0vmax,
    20vmax 10vmax,
    40vmax 60vmax;
}
75% {
    background-size:
    90vmax 90vmax,
    90vmax 90vmax,
    100vmax 100vmax,
    90vmax 90vmax,
    70vmax 70vmax;
    background-position:
    -50vmax -40vmax,
    50vmax -30vmax,
    20vmax 0vmax,
    -10vmax 10vmax,
    40vmax 60vmax;
}
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}
a:hover {background-color: #FF7BB9;
        font-size: 28px;
        color: #F8ECB2;
}
a{color:  #565454;
}

main{padding: 16px;}

footer{padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center}

img{height: 200px;
    box-shadow: 20px 1px 20px 10px rgb(80, 80, 82, 0.8);}

nav{border-bottom: 1px;
    color: #e04367;
    padding: 16px;
    background-color:rgb(0, 0, 0, 0.7);
    font-size: 30px;
    }

h1{color: #8366ed;
    font-size: 50px;
    text-shadow: 1px 1px 2px #28282b;
    text-align: center;
   }


footer{color: #45ac9b;
        background-color:rgb(248, 236, 178, 0.5);
        padding: 10px;
        height: 10px;
        margin: 0px;
        animation-duration: 2s;
        animation-name: slidein;}
@keyframes slidein {
            from {
              margin-right: 100%;
              width: 300%;
            }
          
            to {
              margin-right: 0%;
              width: 100%;
            }
          }

.grid-container {display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.image_and_rating{grid-row: 1/ 3; grid-column:1/3; margin: 100px;}
.content{ grid-row:1/3; grid-column:3/5;}
.footer{grid-row:3/4; grid-column: 1/ 5;}

#grid_list_taco{display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
            }

tr:nth-child(even){background: #F8ECB2;}